In [1]:
import numpy as np
import pandas as pd
from math import factorial
import random

# Задание 1   
Даны значения зарплат из выборки выпускников:    
    100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150.    
    Посчитать (желательно без использования статистических методов наподобие std, var, mean) среднее арифметическое,    
    среднее квадратичное отклонение, смещенную и несмещенную оценки дисперсий для данной выборки.

In [2]:
z = pd.DataFrame([100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150])
z

      0
0   100
1    80
2    75
3    77
4    89
5    33
6    45
7    25
8    65
9    17
10   30
11   24
12   57
13   55
14   70
15   75
16   65
17   84
18   90
19  150

### Среднее арифметическое

In [3]:
arithmetic_mean = z.sum() / z.count()
arithmetic_mean

0    65.3
dtype: float64

### Среднеквадратичное отклонение

$$\sigma = \sqrt{\frac{\sum\limits_{i=1}^{n} (x_i - \overline{x})^2}{n}}$$

In [4]:
standard_deviation = np.sqrt(((z - arithmetic_mean)**2).sum() / z.count())
standard_deviation

0    30.823854
dtype: float64

### Смещенная оценка дисперсии

$$\sigma^2 = \frac{\sum\limits_{i=1}^{n} (x_i - \overline{x})^2}{n}$$

In [5]:
dispersion = ((z - arithmetic_mean)**2).sum() / z.count()
dispersion

0    950.11
dtype: float64

### Несмещенная оценка дисперсии

$$\sigma^2_{несмещ.} = \frac{\sum\limits_{i=1}^{n} (x_i - \overline{x})^2}{n - 1}$$

In [6]:
dispersion = ((z - arithmetic_mean)**2).sum() / (z.count() - 1)
dispersion

0    1000.115789
dtype: float64

# Задание 2   
В первом ящике находится 8 мячей, из которых 5 - белые. Во втором ящике - 12 мячей, из которых 5 белых.    
Из первого ящика вытаскивают случайным образом два мяча, из второго - 4.    
Какова вероятность того, что 3 мяча белые?

### Способ 1

из первого ящика можно вытащить 2 белых, тогда из второго 1 белый и 3 небелых

In [7]:
def comb(n, k):
    return factorial(n) / (factorial(k) * factorial(n - k))

In [8]:
P1 = (comb(5, 2) / comb(8, 2)) * ((comb(5, 1) * comb(7, 3)) / comb(12, 4))
P1

0.12626262626262627

из первого ящика можно вытащить 1 белый и 1 небелый, тогда из второго 2 белых и 2 небелых

In [9]:
P2 = ((comb(5, 1) * comb(3, 1)) / comb(8,2)) * ((comb(5, 2) * comb(7, 2)) / comb(12, 4))
P2

0.22727272727272727

из первого ящика можно вытащить 2 небелых, тогда из второго 3 белых и 1 небелый

In [10]:
P3 = (comb(3, 2) / comb(8, 2)) * ((comb(5, 3) * comb(7, 1)) / comb(12, 4))
P3

0.01515151515151515

поскольку эти события несовместны, их вероятности складываем

In [11]:
P = P1 + P2 + P3
P

0.3686868686868687

### Способ 2

Метод Монте-Карло

In [12]:
n = 100000
m = 0

for i in range(n):
    a = [1, 1, 1, 1, 1, 0, 0, 0]
    b = [1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0]
    random.shuffle(a)
    random.shuffle(b)
    if (a.pop() + a.pop() + b.pop() + b.pop() + b.pop() + b.pop()) == 3:
        m += 1
P = m / n
P

0.36741

# Задание 3   
На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень. Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6. Найти вероятность того, что выстрел произведен: a). первым спортсменом б). вторым спортсменом в). третьим спортсменом.

$$P(B\:|\:A) = \frac{P(B) \cdot P(A\:|\:B)}{P(A)}$$

Событием  𝐴  будем считать попадание в мишень,    
а событиями  𝐵1,𝐵2  и  𝐵3  — что выстрел совершил первый, второй или третий спортсмен:

$$P(A\:|\:B_1) = 0.9$$

$$P(A\:|\:B_2) = 0.8$$

$$P(A\:|\:B_3) = 0.6$$

### a) выстрел произведен первым спортсменом

$$P(B_1\:|\:A) = \frac{\frac{1}{3} \cdot 0.9}{\frac{1}{3} \cdot 0.9 + \frac{1}{3} \cdot 0.8 + \frac{1}{3} \cdot 0.6}$$

In [13]:
P1 = 0.3 / (0.3 + 0.8 / 3 + 0.2)
P1

0.391304347826087

### б) выстрел произведен вторым спортсменом

$$P(B_2\:|\:A) = \frac{\frac{1}{3} \cdot 0.8}{\frac{1}{3} \cdot 0.9 + \frac{1}{3} \cdot 0.8 + \frac{1}{3} \cdot 0.6}$$

In [14]:
P2 = 0.8 / 3 /(0.3 + 0.8 / 3 + 0.2)
P2

0.3478260869565218

### в) выстрел произведен третьим спортсменом

$$P(B_3\:|\:A) = \frac{\frac{1}{3} \cdot 0.6}{\frac{1}{3} \cdot 0.9 + \frac{1}{3} \cdot 0.8 + \frac{1}{3} \cdot 0.6}$$

In [15]:
P3 = 0.2 / (0.3 + 0.8 / 3 + 0.2)
P3

0.26086956521739135

In [16]:
#Проверка
#Все три события составляют полную группу несовместных событий, поэтому сумма их вероятностей равна 1
P1 + P2 + P3

1.0

# Задание 4    
В университет на факультеты A и B поступило равное количество студентов,   
а на факультет C студентов поступило столько же, сколько на A и B вместе.    
Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8.    
Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9.   
Студент сдал первую сессию.    
Какова вероятность, что он учится: a). на факультете A б). на факультете B в). на факультете C?

на факультет А поступило n студентов   
на факультет B поступило n студентов   
на факультет C поступило 2n студентов

$$P(B\:|\:A) = \frac{P(B) \cdot P(A\:|\:B)}{P(A)}$$

$$P(A\:|\:B_A) = 0.8$$

$$P(A\:|\:B_B) = 0.7$$

$$P(A\:|\:B_C) = 0.9$$

$$P(B_A\:|\:A) = \frac{\frac{1}{4} \cdot 0.8}{\frac{1}{4} \cdot 0.8 + \frac{1}{4} \cdot 0.7 + \frac{1}{2} \cdot 0.9}$$

In [17]:
P1 = 0.2 / (0.2 + 0.7 / 4 + 0.45)
P1

0.24242424242424246

$$P(B_B\:|\:A) = \frac{\frac{1}{4} \cdot 0.7}{\frac{1}{4} \cdot 0.8 + \frac{1}{4} \cdot 0.7 + \frac{1}{2} \cdot 0.9}$$

In [18]:
P2 = 0.7 / 4 / (0.2 + 0.7 / 4 + 0.45)
P2

0.21212121212121213

$$P(B_C\:|\:A) = \frac{\frac{1}{2} \cdot 0.9}{\frac{1}{4} \cdot 0.8 + \frac{1}{4} \cdot 0.7 + \frac{1}{2} \cdot 0.9}$$

In [19]:
P3 = 0.45 / (0.2 + 0.7 / 4 + 0.45)
P3

0.5454545454545455

In [20]:
#Проверка
#Поскольку студент обязательно учится на одном из трех факультетов, то сумма P1+P2+P3 должна быть равна 1.
print(P1 + P2 + P3)

1.0

# Задание 5   
Устройство состоит из трех деталей.    
Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2, для третьей - 0.25.    
Какова вероятность того, что в первый месяц выйдут из строя:   
    а). все детали б). только две детали в). хотя бы одна деталь г). от одной до двух деталей?

In [21]:
P1 = 0.1
P2 = 0.2
P3 = 0.25
Q1 = 1 - P1
Q2 = 1 - P2
Q3 = 1 - P3

### вероятность того, что в первый месяц выйдут из строя все детали

In [22]:
P_3 = P1 * P2 * P3
P_3

0.005000000000000001

### вероятность того, что в первый месяц выйдут из строя только две детали

In [23]:
#Из строя выйдут первая и вторая детали, а третья будет работать
p1 = P1 * P2 * Q3

In [24]:
#Из строя выйдут вторая и третья детали, а первая будет работать
p2 = Q1 * P2 * P3

In [25]:
#Из строя выйдут первая и третья деталь, а вторая будет работать
p3 = P1 * Q2 * P3

In [26]:
P_2 = p1 + p2 + p3
P_2

0.08000000000000002

### вероятность того, что в первый месяц выйдут из строя хотя бы одна деталь

In [27]:
#Вероятность того, что не выйдет из строя ни одна деталь
P_0 = Q1 * Q2 * Q3

In [28]:
P = 1 - P_0
P

0.45999999999999996

### вероятность того, что в первый месяц выйдут из строя от одной до двух деталей

In [29]:
#Вероятность, что выйдут из строя 2 детали
P_2

0.08000000000000002

In [30]:
#Вероятность того, что выйдет из строя только 1 деталь
p1 = Q1 * P2 * Q3
p2 = P1 * Q2 * Q3
p3 = Q1 * Q2 * P3
P_1 = p1 + p2 + p3
P_1

0.375

In [31]:
P_1 + P_2

0.455

In [32]:
P_0 + P_1 + P_2 + P_3

1.0